. {
  padding: 0%, auto;
  margin: 0px, auto;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  padding: 120px 0px 0px 0px;
  z-index: 0;
  max-width: 100%;
}

.footer {
  color: yellow;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.prompt {
  padding-bottom: 150px;
}

.logo {
  width: 3rem;
}

.navbar-brand img {
  max-width: 50px;
  height: auto;
}

.container-xl,
.container {
  color: white;
}

.more-mar-bottom {
  padding-bottom: 20%;
}

.navbar-nav {
  width: 500px;
  justify-content: space-around;
}

.roll-off {
  height: auto;
  width: 70%;
  justify-content: center;
}

p {
  color: white;
}

.proj {
  width: 70%;
}

.navbar-dark {
  background-color: black;
}

.fa {
  font-size: 50px;
  color: #ffcc00;
}

h1 {
  color: #ffcc00;
}

.fa:hover {
  color: white;
}

.act {
  padding: 50px;
}

h3 {
  padding-top: 15px;
}

.card,
.accordian {
  background-color: transparent;
}

@media (max-width: 768px) {
  .col-12 img {
    height: auto;
    width: 100%;
  }
  .fa {
    font-size: 20px;
  }
}
