@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Quicksand:wght@300&display=swap');



* {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--prime-color);
    color: var(--second-color);
}

:root {
    --prime-color: #ffffff;
    --second-color: #000000;
    --accent-color: #4267b1ff;
    /*--color-3: #FESFS5;*/
}

.dark-theme {
    --prime-color: #000000;
    --second-color: #ffffff;
    --accent-color: #6ca8cbff;
}


#icon {
    width: 30px;
    cursor: pointer;
}


.hero {
    text-align: center;
    margin: 15px 30px;
}

.hero img.logo {
    height: 150px;
}


.main {
    text-align: left;
    font-family: 'Courier Prime', monospace;
    font-size: larger;
    font-weight: 500;
}

.about {
    text-align: center;
    width: 40%;
    margin: auto;
    background: none transparent;

}

.main p {
    margin-bottom: 10px;
}

.nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 0px 7px;
}

.nav a:hover {
    color: #FE5F55;
    cursor: pointer;
}

.port_title {
    font-family: Impact;
    font-size: 25px;
    background: none transparent;
}

.port_sub_title {
    font-size: small;
    font-style: italic;
    background: none transparent;
}

.title {
    font-weight: bold;
    font-size: larger;
    text-align: justify;
}

.mod_date {
    font-size: smaller;
}

.content {
    font-size: 14px;
    text-align: justify;
    padding: 5% 0%;
}

.source-link {
    text-align: right;
}



.container {
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 25px 0px;
    background: none transparent;
}

embed {
    background: none transparent;
}

footer {
    padding: 0;
    margin: 50px 0px;
    width: 100%;
}

footer .foot-content {
    text-align: center;
    color: antiquewhite;
}


/* Slideshow container */

.slideshow-container {
    text-align: center;
}

/* Slides */
.mySlides {
    display: none;
    padding: 10px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {

    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 15px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active {
    width: 25px;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

*/
/*Adding responsiveness to the site*/

@media screen and (max-width: 800px) {

    body,
    .about,
    .container,
    .portfolio {
        width: inherit;
        padding: 10px;
        margin: none;
        /* The width is 100%, when the viewport is 800px or smaller */
    }

    a {
        color: var(--accent-color);
        text-decoration: none;
        align-content: center;
        text-align: center;
        padding: 10px 7px;
        display: block;
    }

    li a {
        display: inline;
    }

    .source-link {
        text-align: left;
    }

    .cta {
        visibility: hidden;
    }


}