* {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 5% 10%;
}

:root {
    --prime-color: whitesmoke;
    --second-color: #000000;
    --accent-color: #e27602ff;
    /*--color-3: #FESFS5;*/
}

.dark-theme {
    --prime-color: #000000;
    --second-color: whitesmoke;
    --accent-color: #f5c77eff;
}

.main {
    margin: 15px 0px;
}


.hero {
    font-weight: 700;
    font-size: xx-large
}

.tag {
    font-family: 'Courier Prime', Courier, monospace;
}

.nav {
    margin: 20px 0px;
}

.head {
    padding: 20px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    display: inline-flex;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border: 3px solid var(--second-color);
    border-radius: 20px;
    padding: 20px;
    width: 80px;
    height: 80px;
    flex-direction: column;
    color: black;
    background-color: whitesmoke;
    /*
    margin: 0px 10px;
    display: flex;
    border: 3px solid var(--second-color);
    color: black;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
*/
}

.col img {
    display: block;
    width: 60px;
    height: auto;
    align-self: center;
}

.col h5 {
    margin-top: 10px;
}

.about {
    width: 70%;
}

.about p {
    margin: 10px 0px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}


li {
    display: inline;
    padding: 10px 3px;
}

li a {
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--second-color);
    border: 3px solid var(--second-color);
    border-radius: 30px;
    width: 500px;
}



@media screen and (max-width: 800px) {

    .about {
        width: auto;
    }

    .col,
    .col img {
        flex: 50%;
        max-width: 50%;

        height: 50%;
        margin: 15px;
        align-items: center;
    }

}