* {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body {
    font-family: var(--prime-font);
    background-color: var(--prime-color);
    color: var(--second-color);
    text-align: center;
}

:root {
    --prime-color: #fcfbfc;
    --second-color: #121212;
    --accent-color: #f87d36;
    --box-shadow-color: rgb(191, 191, 191);
    --prime-font: "Space Grotesk", sans-serif;
    --accent-font: 'Poppins', sans-serif;
    --invert: invert(0);
    --box-color: white;
}

.dark-theme {
    --prime-color: #121212;
    --second-color: whitesmoke;
    --accent-color: rgb(248, 125, 54);
    --box-shadow-color: #424242;
    --invert: invert(1);
    --box-color: black;
}

.special {
    padding: 10px 15px;
    border-radius: 50px;
    color: black;
    background-color: #f2f2f2;
}

.special:hover {
    background-color: var(--accent-color);
    color: var(--prime-color);
    transition: background-color 0.25s ease;
}

.center {
    margin: 0 auto;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.inflex {
    display: inline-flex;
}

.spaced {
    justify-content: space-around;
}

#icon {
    width: 25px;
    cursor: pointer;
}

.container {
    width: 50%;
    list-style: none;
}

/*--- NAVIGATION ---*/

.mySlides {
    display: block;
    position: relative;
    font-size: 25px;
}

.slideshow-container {
    min-width: 50%;
    padding: 30px 0px;
    text-align: left;
}

nav {
    min-height: 100px;
}

.nav {
    display: flex;
}

.socials ul,
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}


nav ul li {
    float: left;
    justify-content: space-around;
    padding: 10px 10px;
}

nav ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--second-color);
}

nav ul li a {
    padding: 10px 15px;
    border-radius: 23px;
    transition: background-color 0.5s ease;
}

nav ul li :hover,
nav ul li a:hover {
    border-radius: 20px;
    background: var(--accent-color);
    transition: background-color 0.5s ease;
    color: var(--prime-color);
    cursor: pointer;
}

/*--- END NAV---*/


.pad {
    padding: 15px 0px;
}

.about {
    width: 90%;
    padding: 30px 0px;
}

.bgtext {
    position: relative;
}

.bgtext:after {
    content: "\" ";
    font-size: 240px;
    position: absolute;
    opacity: 5%;
    top: -80px;
    bottom: 0;
    left: -50px;
    z-index: -1;
    color: var(--second-color);
}

.main .name {
    height: fit-content;
    list-style: none;
    font-weight: bolder;
    font-size: xx-large;
}

.main .tag {
    padding: 12px 0px;
}

.socials ul li {
    padding: 0px 10px;
    color: var(--accent-color);
    font-size: large;
}

.section-title {
    padding-bottom: 20px;
}

.content ul li {
    width: inherit;
    min-height: 30px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 5px 30px;
    margin: 0px 10px;
}


hr.divider {
    margin: 1.5em 0em;
    display: block;
    border-top: 3px solid #000000;
}

#skills .content ul li {
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #f2f2f2;
    color: black;
    margin: 10px;
}


.content ul li img {
    height: 20px;
    padding-right: 10px;
}

.content {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    align-items: center;
}

.content-row{
    display: block;
    width: 37%;
    text-align: left;
}
    
.content-row .content-col a{
    display: block;
    width: inherit;    
    margin: 1.5em 0em;
    padding: 25px;
    box-shadow: 1px 1px 30px var(--box-shadow-color);
    border-radius: 15px;
    color: var(--second-color);
    background-color: var(--box-color);
}

.content-row .content-col a:hover{
    background-color: var(--accent-color);
    color: var(--prime-color);
}

.content-col {
    padding: 0% 0.5% 0% 0.5%;
}

.content-col p,
.content-head {
    padding-bottom: 15px;
}

.content-col p {
    font-size: smaller;
}

.content-head {
    font-weight: bold;
    width: 90%;
}

.contact-list{
    padding-bottom: 35px;
}

.contact-list a:hover{
    color: var(--accent-color)
}

footer {
    margin: 30px 0px;
}




@media screen and (max-width: 900px) {
    .container {
        scroll-behavior: smooth;
        overflow: hidden;
        width: inherit;
        list-style: none;
        margin: 0px 5px;
    }

    .main .tag {
        padding: 12px 10px;
    }

    .about {
        width: 80%;
        padding: 30px 0px;
    }

    .bgtext:after {
        left: -20px;
    }

    nav ul {
        display: none;
    }

    #skills .content ul li {
        font-size: medium;
        padding: 5px 15px;
        margin: 5px;
    }

    .content ul li img {
        height: 15px;
    }

    .content {
        display: inline-flex;
        flex-wrap: wrap;
        text-align: left;
        width: 100%;
        align-items: center;
    }

    nav .nav .slideshow-container,
    nav .nav div img {
        margin-left: 35px;
    }
}

@media screen and (max-width: 700px) {
    .content-row{
        display: block;
        max-width: 80%;
        width: auto;
    }

    hr.divider {
        margin: 1.5em 3em;
        display: block;
        border-top: 3px solid #000000;
    }
}